<main>
  <div class="container btnHeader">
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light btn-small" (click)="newForm()" type="submit" name="action">New Order
          <i class="material-icons left">add_circle</i>
        </button>
        <button class="btn waves-effect waves-light" (click)="backForm()" type="submit" name="action">Back
          <i class="material-icons left">arrow_back</i>
        </button>
    <!-- <button class="header" (click)="newForm()">New Order</button>
    <button class="header" (click)="backForm()">Back</button> -->
      </div>
    </div>
  </div>
  <div class="container" id="ordersGrid" *ngIf="show" >
            
    <h5 class="center-align">All Orders</h5>
    <div class="custom-responsive">
      <table class="striped hover centered">
        <thead>
          <tr>
          <th>S.No.</th>
          <th>Customer Name</th>
          <th>Mobile</th>
          <th>Order ID</th>
          <th>Total Quantity</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Amar</td>
          <td>9932017031</td>
          <td>OD1</td>
          <td>5</td>
          <td>800</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Amarjeet</td>
          <td>9932017031</td>
          <td>OD2</td>
          <td>5</td>
          <td>800</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Amar</td>
          <td>9932017031</td>
          <td>OD3</td>
          <td>5</td>
          <td>8000</td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>
<div class="container" id="ordersGrid" style="display: none;">
            
  <h5 class="center-align"> Order Details(OI_001)</h5>
  <div class="custom-responsive">
    <table class="striped hover centered">
      <thead>
        <tr>
        <th>S.No.</th>
        <th>Item Name</th>
        <th>Quantity</th> 
        <th> Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Item1</td> 
        <td>5</td>
        <td>800</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Item2</td> 
        <td>2</td>
        <td>800</td>
      </tr>
    
    </tbody>
  </table>
</div>
</div>
  <section class="content" id="orderForm" *ngIf="hide">
     <div class="container">
      <div class="card">
        <form class="card-content">
          <div class="row">
            <h6>Create New Order</h6>
           
          </div>
        
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="text" maxlength="200" />
              <label for="text">Customer Name: </label>
            </div>
      <div class="input-field col s6">
              <input type="text" name="Code" maxlength="200" />
              <label for="text">Mobile(optional) </label>
            </div>
          </div>
  <div class="row">
            
             
              <div class="custom-responsive">
                <table class="striped hover centered">
                  <thead><tr>
                    <th>S.No.</th>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td> 
  <select>
    <option value="0" >Choose your option</option>
    <option value="1">Item 1</option>
    <option value="2">Item 2</option>
    <option value="3">Item 3</option>
  </select>

</td>
                    <td> <input type="text" name="text" maxlength="200" /></td>
                    <td> <input type="text" name="text" maxlength="200" /></td>
                    <td> <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td> 
  <select>
    <option value="0" >Choose your option</option>
    <option value="1">Item 1</option>
    <option value="2">Item 2</option>
    <option value="3">Item 3</option>
  </select>

</td>
                    <td> <input type="text" name="text" maxlength="200" /></td>
                    <td> <input type="text" name="text" maxlength="200" /></td>
                    <td> <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="center-align"><input class="btn btn-success"type="submit" value="Submit" /></div>
        </form>
      </div>
    </div>
  </section>
  
  </main>