<main>
  <div class="container btnHeader">
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light btn-small" (click)="newForm()" type="submit" name="action">New Order
          <i class="material-icons left">add_circle</i>
        </button>
        <button class="btn waves-effect waves-light" (click)="backForm()" type="submit" name="action">Back
          <i class="material-icons left">arrow_back</i>
        </button>
    <!-- <button class="header" >New Order</button>
    <button class="header" (click)="backForm()">Back</button> -->
      </div>
    </div>
  </div>
  <div class="container" *ngIf="show" >
            
    <h5 class="center-align">All Items</h5>
    <div class="custom-responsive">
      <table class="striped hover centered">
        <thead><tr>
          <th>S.No.</th>
          <th>Item Name</th>
          <th>Item Code</th>
          <th>Item price</th>
          <th>Item Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Burger</td>
          <td>Bg001</td>
          <td>50</td>
          <td>Spicy Burger</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Burger</td>
          <td>Bg001</td>
          <td>50</td>
          <td>Spicy Burger</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Burger</td>
          <td>Bg001</td>
          <td>50</td>
          <td>Spicy Burger</td>
        </tr>
     
      </tbody>
    </table>
  </div>
</div>
  <section class="content" *ngIf="hide">
   <div class="container">
      <div class="card">
        <form class="card-content" [formGroup]="createItemForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <h6>Create New Item</h6>
           
          </div>
        
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="text" maxlength="200" formControlName="itemName"/>
              <label for="text">Item Name: </label>
              <small class="errorMsg" *ngIf="!createItemForm.get('itemName').valid && createItemForm.get('itemName').touched">Please enter item Name</small>
            </div>
      <div class="input-field col s6">
              <input type="text" name="Code" maxlength="200" formControlName="itemCode"/>
              <label for="text">Item Code: </label>
              <small class="errorMsg" *ngIf="!createItemForm.get('itemCode').valid && createItemForm.get('itemCode').touched">Please enter item Code</small>
            </div>
          </div>
      <div class="row">
            <div class="input-field col s6">
              <input type="text" name="text" maxlength="200" formControlName="itemPrice"/>
              <label for="text">Item Price: </label>
              <small class="errorMsg" *ngIf="!createItemForm.get('itemPrice').valid && createItemForm.get('itemPrice').touched">Please enter item Price</small>
            </div>
      <div class="input-field col s6">
              <input type="text" name="Code" maxlength="200" formControlName="ItemDescription"/>
              <label for="text">Item Description: </label>
             
            </div>
          </div>
          <div class="center-align"><input class="btn btn-success" type="submit" [disabled]="createItemForm.invalid" value="Submit" /></div>
        </form>
      </div>
    </div>
  </section>
  </main>